# Configuration pour augmenter la taille de la pile du loopTask
# Permet d'éviter les crashes "Stack canary watchpoint triggered"
CONFIG_ARDUINO_LOOP_STACK_SIZE=16384

# Activation USB-OTG pour ESP32-S3 (requis pour USB-MIDI)
CONFIG_SOC_USB_OTG_SUPPORTED=y

# Activation Touch Sensor pour ESP32-S3 (requis pour touchRead())
CONFIG_SOC_TOUCH_SENSOR_SUPPORTED=y

# Augmenter la taille du buffer TCP pour les uploads
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=65536
CONFIG_LWIP_TCP_RCV_BUF_DEFAULT=65536

# Augmenter la pile d'AsyncWebServer pour les gros uploads
CONFIG_ARDUINO_EVENT_RUN_CORE=1
CONFIG_ARDUINO_RUNNING_CORE=1
